sudo: required
language: java
jdk: oraclejdk8
 
services:
- docker

script:
  - ./mvnw  clean install -DskipTests -B

after_success:
#  - docker login -u $DOCKER_USER -p $DOCKER_PASS
#  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH; fi`
#  - export IMAGE_NAME=sivaprasadreddy/jblogger
#  - docker build -t $IMAGE_NAME:$COMMIT .
#  - docker tag $IMAGE_NAME:$COMMIT $IMAGE_NAME:$TAG
#  - docker push $IMAGE_NAME
  - docker build -t vehicle_service .
  
#image: vehicle-service/aws-cli-docker

variables:
   AWS_ACCESS_KEY_ID: "AKIAW7IAYLKHXGTTJLIE"
   AWS_SECRET_ACCESS_KEY: "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"

deploy_stage:
  stage: deploy
  environment: Production
  only:
    - master
  script:
    - aws ssm send-command --document-name "AWS-RunShellScript" --instance-ids "i-0b2449dadb68fdb77" --parameters '{"commands":["sudo docker-compose -f /home/ec2-user/docker-compose.yml up -d --no-deps --build"],"executionTimeout":["3600"]}' --timeout-seconds 600 --region us-east-2
