sudo: required
language: java
jdk: oraclejdk8
 
services:
- docker

#script:
#  - ./mvnw  clean install -DskipTests -B

after_success:
  - docker login -u sachiniwick -p dach2010008
 # - docker build -t sachiniwick/vehicle_service .
 # - docker push sachiniwick/vehicle_service

before_deploy:
  - pip install awscli --upgrade --user
  - export AWS_ACCESS_KEY_ID="AKIAW7IAYLKHXGTTJLIE"
  - export AWS_SECRET_ACCESS_KEY="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"

deploy:
  - provider: script
  - script: pip install awscli --upgrade --user && export AWS_ACCESS_KEY_ID=AKIAW7IAYLKHXGTTJLIE && export AWS_SECRET_ACCESS_KEY=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 && aws ssm send-command --document-name "AWS-RunShellScript" --instance-ids "i-0b2449dadb68fdb77" --parameters '{"commands":["sudo docker run -d -p 8081:8081 sachiniwick/vehicle_service "],"executionTimeout":["3600"]}' --timeout-seconds 600 --region us-east-2
